@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Share Tech', sans-serif;
    color: white;
}

body {
	background-color: #070f1c;
}

/* Header */
h1 {
	display: flex;
	justify-content: center;
	position: relative;
	top: 440px;
	font-size: 60px;
	z-index: 1;
	-webkit-text-stroke: 0.1px white;
  	-webkit-text-fill-color: transparent;  
}

/* Navigation */
nav {
	margin: -15px 20px 10px 0;
	display: flex;
	justify-content: flex-end;
	gap: 15px;
	position: relative;
	top: 520px;
	right: 20px;
	z-index: 1;
}

button {
	background-color: #28176e;
	border: #150d36 2px solid;
	padding: 10px 15px;
	border-radius: 15px;
	color: #ffffff;
	font-size: 18px;
}

button:hover {
	background-color: #150d36;
	border: #28176e 2px solid;
}

.active {
	background-color: #150d36;
	border: #28176e 2px solid;
}

.active:hover {
	background-color: #28176e;
	border: #150d36 2px solid;
}

/* Hero Image */
/*#hero-outer {
	height: 540px;
	width: 100%;
	overflow: hidden;
	position: relative;*/
/*}*/

#hero {
	background: url('../images/hero-image.png') no-repeat center center;
	height: 540px;
	width: 100%;
	position: relative;
	top: 0;
}

h2 {
	position: absolute;
/*	bottom: 0px;*/
}