@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&family=Source+Code+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Share Tech', sans-serif;
    color: white;
}

body {
	background-color: #070f1c;
	font-size: 16px;
}

hr {
	color: #ffffff;
	border: solid 1px white;
	margin-top: 10px;
	margin-bottom: 25px;
}

/* Headers */
h1 {
	display: flex;
	justify-content: center;
	position: relative;
	top: 330px;
	font-size: 60px;
	z-index: 1;
  	color: black;
    mix-blend-mode: lighten;
    text-shadow:
    -1px    -1px white,
    -1px    -0.75px white,
    -1px    -0.5px white,
    -1px    -0.25px white,
    -1px     0px white,
    -1px     0.25px white,
    -1px     0.5px white,
    -1px     0.75px white,
    -1px     1px white,
    -0.75px  1px white,
    -0.5px   1px white,
    -0.25px  1px white,
    0px      1px white,
    0.25px   1px white,
    0.5px    1px white,
    0.75px   1px white,
    1px      1px white,
    1px      0.75px white,
    1px      0.5px white,
    1px      0.25px white,
    1px      0px white,
    1px     -0.25px white,
    1px     -0.5px white,
    1px     -0.75px white,
    1px     -1px white,
    0.75px  -1px white,
    0.5px   -1px white,
    0.25px  -1px white,
    0px     -1px white,
    -0.25px -1px white,
    -0.5px  -1px white,
    -0.75px -1px white;
}

h2 {
	font-size: 40px;
	text-decoration: underline;
	margin-bottom: 20px;
	text-align: center;
}

h3 {
	font-size: 28px;
	text-align: center;
}

/* Navigation */
nav {
	margin: -15px 20px 10px 0;
	display: flex;
	justify-content: flex-end;
	gap: 15px;
	position: relative;
	top: 410px;
	z-index: 1;
	max-width: 1920px;
}

nav .button {
	background-color: transparent;
	border: #150d36 2px solid;
	padding: 10px 15px;
	border-radius: 15px;
	color: #ffffff;
	font-size: 18px;
}

nav .button:hover, nav .active:hover {
	background-color: #28176e;
	border: #150d36 2px solid;
	cursor: pointer;
}

#hamburger {
	display: none;
	font-size: 30px;
	float: right;
}

#toggle_nav {
	display: none;
}

.active {
	background-color: #150d36;
	border: #28176e 2px solid;
	padding: 10px 15px;
	border-radius: 15px;
	color: #ffffff;
	font-size: 18px;
}

/* Font Awesome Images */
i {
	margin-right: 5px;
}

/* Newsletter */
form {
	margin-top: 30px;
}

form > input {
	padding: 5px;
	background-color: #150d36;
	border: #28176e 2px solid;
	border-radius: 5px;
}

form > #email {
	margin-right: 10px;
}

/* Hero Image */
#hero {
	background: url('../images/hero.webp') no-repeat center center;
	height: 540px;
	width: 100%;
	position: relative;
	top: 0;
}

/* Main Page Content */
#center-panel {
	display: flex;
	justify-content: center;
	width: 50%;
	flex-wrap: wrap;
	margin: 0 auto;
}

#left-panel, #right-panel {
	display: flex;
	justify-content: center;
	width: 25%;
	flex-wrap: wrap;
	margin: 0 auto;
}

#left-panel {
	margin-left: 20px;
}

#right-panel {
	margin-right: 20px;
}

.container {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	gap: 25px;
}

.title {
	display: flex;
	text-decoration: underline;
	margin-bottom: 10px;
}

.title > p {
	border: 1px solid #ffffff;
	padding: 7px;
	border-radius: 5px;
}

.content {
	display: flex;
	margin-bottom: 30px;
}

.list {
	margin-left: 13px;
}

.nostyle {
	list-style: none;
}

/* Blog Pages */
h4 {
	font-size: 24px;
	text-decoration: underline;
	margin-top: 25px;
}

.post_list > li {
	margin-bottom: 10px;
	font-size: 16px;
}

.img_desc {
	font-style: italic;
	font-size: 15px;
	text-align: center;
}

.img_scale {
	border: none;
	background: none;
	cursor: pointer
}

.code {
	font-family: 'Source Code Pro', monospace;
	background-color: #142033;
	margin-top: 10px;
	padding: 10px;
	font-size: 16px;
}

.active_blog {
	display: none;
}

.show_latest {
	display: block;
}

.blog_content {
	font-size: 20px;
}

.blog_list {
	margin-top: 10px;
	margin-left: 0.5in;
}

.sub_list {
	margin-left: 0.5in;
}

.blog_img {
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.list button {
	background-color: transparent;
	text-align: left;
	cursor: pointer;
	margin-bottom: 5px;
	font-size: 16px;
}

.img_scale img {
	max-width: 100%;
	max-height: 100%;
}

.img_scale:active img, .img_scale:focus img {
	margin: auto;
	transform: scale(2);
	z-index: 2;
	position: relative;
	cursor: auto;
}

/* Blog Tables */
table {
	margin-top: 10px;
}

th {
	background-color: #101045;
	padding: 10px;
}

tr {
	padding: 10px;
}

td {
	padding: 10px;
}

tr:nth-child(even) {
	background-color: #1a1045;
}

tr:nth-child(odd) {
	background-color: #261961;
}

/* Blog Metadata */
.blog_meta {
	margin: 15px;
	font-size: 15px;
	display: flex;
	justify-content: center;
	gap: 40px;
}

.blog_meta > button {
	background-color: transparent;
}

.blog_meta > button:hover {
	text-decoration: underline;
	background-color: transparent;
	cursor: pointer;
}

.tag {
	font-style: italic;
}

.fa-copy {
	cursor: pointer;
}

/* About Page */
#about > p {
	margin-top: 20px;
	font-size: 20px;
}

/* Events and Videos Pages */
#events > p, #videos > p {
	font-size: 20px;
	margin-bottom: 20px;
}

.event_list > li, .video_list > li {
	margin-bottom: 8px;
}

.event_list > li a i, .video_list > li a i {
	padding-left: 8px;
}

#videos iframe {
	margin: 20px 0;
}

.page_frame {
	text-align: center;
}

/* Footer */
footer {
	margin: 25px 10px 10px 10px;
	font-size: 15px;
}

/* Media Queries */

/* For screens 1200px wide and less */
@media screen and (max-width: 1200px) {
/*Change direction of site content from horizontal to vertical for smaller screens*/
.container {
	display: flex;
	flex-direction: column;

}
#left-panel, #right-panel {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 90%;
	margin: auto;
}

#left-panel {
	order: 2;
}

#center-panel {
	order: 0;
	width: 90%;
}

#right-panel {
	order: 1;
	margin-top: 10px;
	margin-bottom: 20px;

}
}

/* For screens 950px wide and less */
@media screen and (max-width: 950px) {
/*Switch to hamburger menu for smaller screens*/
nav button {
	background-color: #28176e;
	border: #150d36 2px solid;
	padding: 10px 15px;
	border-radius: 15px;
	color: #ffffff;
	font-size: 18px;
}

nav button:hover {
	background-color: transparent;
	border: #150d36 2px solid;
	cursor: pointer;
}

#hamburger {
	display: block;
	cursor: pointer;
	position: absolute;
}

.menu {
	display: none;
}

.menu a {
	display: block;
	text-align: right;
	margin-right: 30px;
}

#toggle_nav:checked + .menu {
	display: block;
}

/*Switch view direction of 3 horizontal panels to columns*/
.container {
	display: flex;
	flex-direction: column;

}
#left-panel, #right-panel {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 90%;
	margin: auto;
}

#left-panel {
	order: 2;
}

#center-panel {
	order: 0;
	width: 90%;
}

#right-panel {
	order: 1;
	margin-top: 10px;
	margin-bottom: 20px;

}

/*Reduce size of the page header to fit on smaller screens*/
h1 {
	font-size: 10vw;
}

/*Reduce image size to fit on smaller screens*/
#about img {
	max-width: 100%;
}

/*Update blog metadata from horizontal to vertical display*/
.blog_meta {
	flex-direction: column;
	text-align: center;
	gap: 10px;
}

/*Resize iframes*/
iframe {
	max-width: 100%;
}
}