/* Import Google font */
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Share+Tech&family=Source+Code+Pro&display=swap');

/* Global styling */
* {
	margin: 0;
	padding: 0;
	border: none;
	font-family: 'Fredericka the Great', cursive;
	color: white;
}

body {
	background-color: #1f1b18;
	font-size: 20px;
}

/* Hero Image and header */
h1 {
	font-size: 56px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
}

#hero {
	background: url('../images/logo.png') no-repeat center center;
	height: 250px;
	width: 100%;
	position: relative;
	top: 0;
	margin-bottom: 50px;
}

/* Styling for the puzzle area */
/* Blank puzzle styling */
#puzzle {
	width: 90%;
	margin: 93px auto auto auto;
	display: grid;
	grid-template-columns: auto;
	grid-column-gap: 20px;
	grid-row-gap: -80px;
}

.puzzle-word {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-bottom: 95px;
}

#puzzle img {
	width: 5%;
	margin-top: auto;
/*	align-items: flex-end;*/
}

/* Hangman image, score, alphabet puzzle area */
.hangman-alphabet {
	display: flex;
	margin-bottom: 50px;
}

/* Hangman image puzzle */
.hangman-image {
	height: 550px;
	width: 45%;
	margin: auto;
	display: flex;
	justify-content: center;
}

.hangman-image img {
	max-width: 100%;
}

/* Alphabet for user selection */
.alphabet {
	width: 45%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 30px;
}

.alphabet img {
	margin: auto;
	width: 60%;
}

.alphabet button {
	background-color: transparent;
	cursor: pointer;
}